body{
    background: linear-gradient(135deg, #ff0000, #0262d1);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 60vw;
}

.title{
    font-size: 3.5vw;
    text-align: center;
    margin-top: 5vh;
}

.column{
    float:left;
    padding: 0px 5% 0px 5%;
}
.column h2{
    text-align: center;
}
.column img {
    opacity: 1;
    cursor: pointer;
    width: 20vh;
}
.column img:hover { /*make it on hover change to an in game screen shot from its title card*/ 
    opacity: 0.9;
}

.row{
    display: flex;
    justify-content: left;
    align-items: center;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    display: none;
    background: #00000049;
    width: 50vw;
    height:fit-content;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(2vw);
    text-align: center;
}
.expandedMedia{
    margin-top: 1%;

}
.desc{
    margin-top: 0px;
    margin-left: 2%;
    margin-right: 2%;
    color: #ffffff;
    text-align: left;
}
.gitLink{
    margin-left: 2%;
    color: #717171;
    text-align: left;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}
