body{
    background: linear-gradient(135deg, #ff0000, #0262d1);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

.buttons{
    text-align: center;
    margin-top: 65vh;
}

.buttons a{
    padding: 10px;
    font-size: 50px;
    margin: 3%;
    text-decoration: none;
    color: #b3b3b3;
    background-color: #1f1f1f;
    border-radius: 25px;
}

.buttons a:hover{
    padding: 12px;
    color: #ffffffff;
}

.name{
    font-size: 75px;
    text-align: center;
    margin-top: 20%;
}
.undername{
    font-size: 50px;
    text-align: center;
}