body{
    background: linear-gradient(135deg, #ff0000, #0262d1);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 200vh;
}

.unibuttons{
    position: relative;
    text-align: center;
    margin-top: 25%;
}

.unibuttons a{
    display: inline-block;
    padding: 10px;
    font-size: 50px;
    margin: 3%;
    text-decoration: none;
    color: #b3b3b3;
    background-color: #1f1f1f;
    border-radius: 25px;
    transition: all 0.75s ease;
    transform: scale(1);
}

.unibuttons a:hover{
    transform: scale(1.2) perspective(1px);
    color: #ffffffff;
}
.unibuttons h1{
    font-size: 45px;
    padding-bottom: 30px;
}

.RAFAC{
    position: relative;
    text-align: center;
    margin-top: 7%;
}

.RAFAC a{
    display: inline-block;
    padding: 10px;
    font-size: 50px;
    margin: 3%;
    text-decoration: none;
    color: #b3b3b3;
    background-color: #1f1f1f;
    border-radius: 25px;
    transition: all 0.75s ease;
    transform: scale(1);
}

.RAFAC a:hover{
    transform: scale(1.2) perspective(1px);
    color: #ffffffff;
}
.RAFAC h1{
    font-size: 45px;
    padding-bottom: 30px;
}

.name{
    font-size: 75px;
    text-align: center;
    margin-top: 20%;
}
.undername{
    font-size: 50px;
    text-align: center;
}